.screen-background{
    width: 1110px;
    height: auto;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title{
  background-color: red;
    width: auto;
    height: 63px;
    font-family: "roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0,4%;
    line-height: 66px;
    margin-top: 40px;
    margin-bottom: 47px;
}
.cards-container-desktop{
  display: flex;
  flex-direction: row;
  margin-bottom: 34px;

}
.card-box{
    margin-left: 34px;
    width: 117px;
    height: 146px;
}
.card {
    display: flex;
    position: relative;
    justify-content: center;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99cea8;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;

  }

  .back {
    background-color: #A7E9AF;
    transform: rotateY(180deg);
  }

  .flip {
    transform: rotateY(180deg);
  }
  
  .founded{
    border: 5px solid greenyellow;
  }

  .back-image {
    width: 100px;
    height: 100px;
  }

  .front-image{
    width: 100px;
    height: 100px;
  }
